
@{
    ViewBag.Title = "HistoryReservation";
}

<div class="container" style="padding-top: 150px; padding-bottom: 150px;">
    <h2 class="text-center">HISTORY RESERVATION</h2><br />
    <table class="table table-bordered table-responsive">
        <tr>
            <th>ID RESERVATION</th>
            <th>ID TABLE</th>
            <th>FULL NAME</th>
            <th>SEATS</th>
            <th>DATE</th>
            <th>CANCEL</th>
        </tr>
        @if (ViewBag.Reservation != null)
        {
            foreach (var item in ViewBag.Reservation)
            {

                <tr>
                    <td>@item.id</td>
                    <td>@item.id_table</td>
                    <td>@item.fullname</td>
                    <td>@item.seats</td>
                    <td>@item.time_create</td>
                    <td>@item.cancel</td>
                </tr>
            }
        }
    </table>
</div>

